# Expalatory Data Analysis

In [14]:
#import all library 
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import logging

sns.set_style("darkgrid")
%matplotlib inline

In [15]:
#read file and display all data
train_df = pd.read_csv('../data/train.csv',sep=',', index_col=False, dtype='unicode')
print(len(train_df))
train_df.head()

1017209

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [16]:
#each unique number of columns
train_df.nunique()

Store             1115
DayOfWeek            7
Date               942
Sales            21734
Customers         4086
Open                 2
Promo                2
StateHoliday         4
SchoolHoliday        2
dtype: int64

In [17]:
#detail info
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  object
 1   DayOfWeek      1017209 non-null  object
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  object
 4   Customers      1017209 non-null  object
 5   Open           1017209 non-null  object
 6   Promo          1017209 non-null  object
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  object
dtypes: object(9)
memory usage: 69.8+ MB

In [18]:
#total null value
train_df.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [33]:
#Converting timestamp dtype into datetime using pd.to_datetime This is Necessary, so we can aggregate data into defined time period example month/day etc..
train_df['Date'] = pd.to_datetime(train_df['Date'])
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  object
 1   DayOfWeek      1017209 non-null  object
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  object
 4   Customers      1017209 non-null  object
 5   Open           1017209 non-null  object
 6   Promo          1017209 non-null  object
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 69.8+ MB

In [50]:
_df.Store=train_df.Store.astype('int64')

In [51]:
#Getting the other file, mainly for the names of the shares.
store_df = pd.read_csv('../data/store.csv')
store_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [52]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [53]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  object
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  object
 4   Customers      1017209 non-null  object
 5   Open           1017209 non-null  object
 6   Promo          1017209 non-null  object
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 69.8+ MB

Here, the id column of this dataframe represents scrip_id of the dataframe containing close price. Hence we can Rename id as scrip_id so as to merge the two data frames.

In [55]:
#merge the two dataset using the store columns into one merge_df dataframe
train_df.rename(columns = {'id':'Store'}, inplace=True)
merged_df = store_df.merge(train_df, on='Store')
merged_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,5,2015-07-31,5263,555,1,1,0,1
1,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,4,2015-07-30,5020,546,1,1,0,1
2,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,3,2015-07-29,4782,523,1,1,0,1
3,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2,2015-07-28,5011,560,1,1,0,1
4,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,1,2015-07-27,6102,612,1,1,0,1

In [56]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   StoreType                  1017209 non-null  object
 2   Assortment                 1017209 non-null  object
 3   CompetitionDistance        1014567 non-null  float64
 4   CompetitionOpenSinceMonth  693861 non-null   float64
 5   CompetitionOpenSinceYear   693861 non-null   float64
 6   Promo2                     1017209 non-null  int64
 7   Promo2SinceWeek            509178 non-null   float64
 8   Promo2SinceYear            509178 non-null   float64
 9   PromoInterval              509178 non-null   object
 10  DayOfWeek                  1017209 non-null  object
 11  Date                       1017209 non-null  datetime64[ns]
 12  Sales                      1017209 non-null  object
 13  Customers                  1017209 non-null  object
 14  Open                       1017209 non-null  object
 15  Promo                      1017209 non-null  object
 16  StateHoliday               1017209 non-null  object
 17  SchoolHoliday              1017209 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(10)
memory usage: 147.5+ MB

In [57]:
merged_df.isnull().sum()

Store                             0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
dtype: int64